@import "../../../../scss/generic/variables";

.wrapper {
  background: url(https://images.unsplash.com/photo-1557804506-669a67965ba0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8ZW1wbG95ZWV8fHx8fHwxNjM1MTkwMTI3&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    position: absolute;
    bottom: 0;
    background: $black;
    background: rgba($black, 0.5);
    color: $white;
    width: 100%;
    transition: .5s ease;
    font-size: 20px;
    padding: 20px;
    text-align: center;

    .title {
      line-height: .95;
      color: $aquamarine;
      font-weight: 900;
      font-size: 150px;
      text-transform: uppercase;
      user-select: none;
      pointer-events: none;
      margin: 0 0 20px 0;
    }

    .link {
      margin: 0 auto;
      width: 170px;
      height: 60px;
      padding: 6px;
      border: 2px solid $aquamarine;
      border-radius: 2px;
      background: none;
      font-size: 16px;
      line-height: 54px;
      color: $white;
      letter-spacing: .25em;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      vertical-align: middle;
      text-align: center;
      appearance: none;
      transition: background .4s, color .4s;
      cursor: pointer;

      &:hover {
        background:$aquamarine;
        color: $black;
      }
    }
  }
}
