@import 'variables';

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 8px;
	padding-right: 8px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 8px;
	padding-right: 8px;
}
// > 768
@media (min-width: $tablet) {
	.container {
		width: 750px;
	}
}
// > 992
@media (min-width: $laptop) {
	.container {
		width: 970px;
	}
}
// > 1200
@media (min-width: $desktop) {
	.container {
		width: 1170px;
	}
}
