//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$black: #000000;
$white: #ffffff;
$smoked-white: #f5f5f5;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;
$aquamarine: #7fffd4;
